language: lisp
sudo: required

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-7-dev
      - lib32stdc++-7-dev

env:
  matrix:
    - LISP=abcl
    - LISP=sbcl COVERALLS=true
    - LISP=sbcl32
    - LISP=ccl
    - LISP=ccl32
    - LISP=clisp
    - LISP=clisp32

jobs:
  allow_failures:
    - env: LISP=ccl32

install:
  - if [ -x ./install.sh ] && head -2 ./install.sh | grep '^# cl-travis' > /dev/null;
    then
      ./install.sh;
    else
      curl https://raw.githubusercontent.com/sionescu/cl-travis/master/install.sh | sh;
    fi

script:
  - ./run-tests.bash

notifications:
  email: false
